<div class="s-m-logo">
  <div class="s-m-left-logo"></div>
  <div class="s-m-middle-logo">
    <text class="pray-name"><%= timeScreenTexts.facilityNameText %></text>
  </div>
  <div class="s-m-right-logo"></div>
</div>
<div class="s-m-date-time">
  <div class="s-m-left-datime">
    <script
      type="text/javascript"
      charset="utf-8"
      src="https://www.hebcal.com/etc/hdate-he.js"
    ></script>
  </div>
  <div class="s-m-middle-datime">
    <div id="time"></div>
  </div>
  <div class="s-m-right-datime">
    <div id="parasha"></div>
  </div>
  <div class="left">
    <div id="date"></div>
  </div>
</div>
