<div class="s-m-logo">
  <div class="s-m-left-logo">
    <button
      type="button"
      class="btn btn-warning btn-back-home"
      onclick="window.location.href='/'"
    >
      חזור לדף הבית
    </button>
  </div>
  <div class="s-m-middle-logo">
    <text class="pray-name"><%= timeScreenTexts.facilityNameText %></text>
  </div>
  <div class="s-m-right-logo"></div>
</div>
<div class="s-m-date-time">
  <div id="today-herbew-date" class="s-m-left-datime"></div>
  <div class="s-m-middle-datime">
    <div id="time"></div>
  </div>
  <div class="s-m-right-datime">
    <div id="parasha"></div>
  </div>
  <div class="left">
    <div id="date"></div>
  </div>
</div>
