<div class="s-m-top-bar">
  <div class="s-m-right-bar" id="today-herbew-date"></div>
  <div class="s-m-middle-bar">
    <div id="time"></div>
  </div>
  <div class="s-m-right-bar">
    <div id="parasha"></div>
  </div>
</div>
