<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/addJoysNews.css" />
  </head>
  <body onload="initialPageSetup(); initialSetup()">
    <div class="s-m-container">
      <%- include('partials/header-page.ejs') %>
      <div class="s-m-times">
        <form class="form" method="POST" action="/joys-news/add-joys-names">
          <div class="title">
            <text>הוסף שמחות</text>
          </div>
          <div class="edit-name">
            <div class="add-name-container">
              <textarea
                id="new-joys-news"
                name="new-joys-news"
                aria-multiline="true"
                type="text"
                class="form-control"
                placeholder="כתוב כאן"
              ></textarea>
            </div>
          </div>
          <div class="add">
            <div class="addition-submit-container">
              <button type="submit" class="btn btn-warning btn-lg">הוסף</button>
            </div>
          </div>
          <div class="clip-art-container">
            <div class="clip-art-design"></div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
