<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/addMemorizeScreen.css" />
  </head>
  <body onload="initialPageSetup(); initialSetup()">
    <div class="s-m-container">
      <%- include('partials/header-page.ejs') %>
      <div class="s-m-times">
        <form class="form" method="POST" action="/memorial/addMemorizeName">
          <div class="title">
            <text>הוספת שמות לעילוי נשמת</text>
          </div>
          <div class="edit-name">
            <div class="add-name-container">
              <input
                id="child-name"
                name="child-name"
                type="text"
                class="form-control"
                placeholder="פלוני"
              />
              <text>בן</text>
              <input
                id="parent-name"
                name="parent-name"
                type="text"
                class="form-control"
                placeholder="פלוני"
              />
            </div>
          </div>
          <div class="add">
            <div class="addition-submit-container">
              <button type="submit" class="btn btn-warning btn-lg">הוסף</button>
            </div>
          </div>
          <div class="clip-art-container">
            <div class="clip-art-design"></div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
