<%- include('partials/head.ejs') %>
<script src="/js/add-shabbat-times.js"></script>
<link rel="stylesheet" href="/css/addShabatTimes.css" />
  </head>
  <body onload="initialPageSetup(); initialSetup()">
    <div class="s-m-container">
      <%- include('partials/header-page.ejs') %>
      <div class="s-m-times">
        <div class="shabbat-times">
          <div class="shabbat-times-center">
            <div class="title-container">
              <text>ערב שבת</text>
            </div>
            <div class="times-container">
              <div class="edit-section">
                <table id="evening-times-edition"></table>
              </div>
            </div>
          </div>
        </div>
        <div class="clip-art-container">
          <div class="clip-art-design"></div>
        </div>
        <div class="shabbat-times">
          <div class="shabbat-times-center">
            <div class="title-container">
              <text>וביום השבת</text>
            </div>
            <div class="times-container">
              <div class="edit-section">
                <table id="day-times-edition"></table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-new-times">
        <button type="button" class="btn btn-warning">עדכן זמנים</button>
      </div>
    </div>
  </body>
</html>
