<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->
    <script
      src="https://cdn.socket.io/4.3.2/socket.io.min.js"
      integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
      crossorigin="anonymous"
    ></script>

    <title>Smart Monitor</title>
  </head>
  <body onload="onload">
    <div class="i-container">
      <div class="i-top">
        <h2>מערכת צג חכם בית כנסת שירת ישראל</h2>
      </div>
      <div class="i-bottom">
        <div class="i-item-center">
          <button
            id="zmanim"
            onclick="window.location.href='/zmanim/timesScreen'"
          >
            הצג מסך זמנים
          </button>
          <button
            onclick="window.location.href='/shabbat-times/changeShabbatTimesScreen'"
          >
            הוסף זמני שבת
          </button>
          <button onclick="window.location.href='/memorial/addMemorialScreen'">
            הוסף שמות לעילוי נשמת
          </button>
          <button onclick="window.location.href='/joys-news/addJoyNewsScreen'">
            הוסף שמחות
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
