<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Assistant"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/timesScreen.css" />
    <title>בית כנסת שירת ישראל</title>
    <script
      src="https://cdn.socket.io/4.3.2/socket.io.min.js"
      integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      function display_c() {
        var refresh = 1000; // Refresh rate in milli seconds
        mytime = setTimeout("display_ct()", refresh);
      }

      function display_ct() {
        var x = new Date();
        var s = x.getSeconds();
        var m = x.getMinutes();
        var h = x.getHours();
        var textContent =
          ("0" + h).substr(-2) +
          ":" +
          ("0" + m).substr(-2) +
          ":" +
          ("0" + s).substr(-2);
        document.getElementById("time").innerHTML = textContent;
        display_c();
      }

      function initialPageSetup() {
        display_ct();
      }
    </script>
    <script>
      var socket = io.connect();
      let counter = 0;
      socket.on("zmanim", (zmanim_data) => {
        console.log("zmanim", counter++);
        let containerZmanimTable = `<th></th><th></th>`;
        for (let i in zmanim_data) {
          containerZmanimTable += `<tr>
              <td>
                <h2>
                  <strong>${i}:</strong>
                </h2>
              </td>
              <td>
                <h2>
                  <strong>${zmanim_data[i]}</strong>
                </h2>
              </td>
            </tr>`;
        }
        document.getElementById("zmanim-table-data").innerHTML =
          containerZmanimTable;
      });
      let counter_times = 0;
      socket.on("sahhabat_times", (sahhabat_times) => {
        console.log("sahhabat_times", counter_times++);
        let containerSahhabatTimesTable = `<th></th><th></th>`;
        for (let i in sahhabat_times) {
          if (i == "parashat") {
            document.getElementById("parasha").innerHTML = sahhabat_times[i];
          } else {
            containerSahhabatTimesTable += `<tr>
                <td>
                  <h2>
                    <strong>${i}:</strong>
                  </h2>
                </td>
                <td>
                  <h2>
                    <strong>${sahhabat_times[i]}</strong>
                  </h2>
                </td>
              </tr>`;
          }
        }
        document.getElementById("shabbat-times-table-data").innerHTML =
          containerSahhabatTimesTable;
      });
    </script>
  </head>
  <body onload="initialPageSetup()">
    <div class="s-m-container">
      <div class="s-m-logo">
        <div class="s-m-left-logo"></div>
        <div class="s-m-middle-logo">
          <text class="pray-name"> בית כנסת שירת ישראל </text>
        </div>
        <div class="s-m-right-logo"></div>
      </div>
      <div class="s-m-date-time">
        <div class="s-m-left-datime">
          <script
            type="text/javascript"
            charset="utf-8"
            src="https://www.hebcal.com/etc/hdate-he.js"
          ></script>
        </div>
        <div class="s-m-middle-datime">
          <div id="time"></div>
        </div>
        <div class="s-m-right-datime">
          <div id="parasha"></div>
        </div>
        <div class="left">
          <div id="date"></div>
        </div>
      </div>
      <div class="s-m-times">
        <div class="s-m-right-times-con">
          <text>זמני היום</text>
          <div class="s-m-right-times">
            <table id="zmanim-table-data"></table>
          </div>
        </div>
        <div class="s-m-middle-times-con">
          <div class="middle-time-title-con">
            <text>לוח מודעות</text>
          </div>
          <div class="messages-con-par">
            <div class="messages-con">
              <div class="messages">
                <div class="message-happy-head-con">
                  <text>שמחות</text>
                </div>
                <div class="message-data"></div>
              </div>
              <div class="clip-art-design-con">
                <div class="clip-art-design"></div>
              </div>
              <div class="messages">
                <div class="message-head-con">
                  <div class="memorize-candle-left"></div>
                  <div class="message-title">
                    <text>לעילוי נשמת</text>
                  </div>
                  <div class="memorize-candle-right"></div>
                </div>
                <div class="message-data"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="s-m-right-times-con">
          <text>זמני שבת</text>
          <div class="s-m-right-times">
            <table id="shabbat-times-table-data"></table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
