/*--------------- <page-conf> ---------------*/
body {
  margin: 0;
  padding: 0;
  background-color: #2d1703;
}
.s-m-container,
body,
html {
  height: 100%;
}

.flex {
  display: flex;
}

/*--------------- </page-conf> ---------------*/

/*--------------- </page-conf> ---------------*/

.s-m-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

/*--------------- <edititon times section> ---------------*/

.s-m-times {
  display: flex;
  flex-direction: column;
  flex-basis: 86%;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

text {
  font-family: "Assistant";
  font-weight: bold;
  font-size: 16px;
  font-size: 3vw;
  color: white;
}

.edit-name {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.add-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.add-name-container text {
  margin-left: 20px;
  margin-right: 20px;
}

.add {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.addition-submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
}

.clip-art-container {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: center;
  height: 100%;
}

.clip-art-design {
  display: flex;
  height: 60%;
  align-self: center;
  width: 30%;
  background-image: url("../img/clip-art.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*--------------- </edititon times section> ---------------*/

/*---------- <submition input section> ----------*/

.submit-new-times {
  display: flex;
  flex-basis: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  width: 80%;
  height: 20vh;
  font-family: "Assistant";
  font-weight: bold;
  font-size: 16px;
  font-size: 3vw;
  background: none;
  border-radius: 15;
  color: white;
  border: none;
  text-align: center;
}

textarea[type="text"] {
  width: 80%;
  height: 20vh;
  font-family: "Assistant";
  font-weight: bold;
  font-size: 16px;
  font-size: 3vw;
  background: none;
  border-radius: 15;
  color: white;
  border: none;
  text-align: center;
}

/*---------- </submition input section> ----------*/

/*--------------- </edititon times section> ---------------*/
