/*--------------- <page-conf> ---------------*/
body {
  margin: 0;
  padding: 0;
  background-color: #2d1703;
}
.s-m-container,
body,
html {
  height: 100%;
}

.flex {
  display: flex;
}

/*--------------- </page-conf> ---------------*/

/*--------------- </page-conf> ---------------*/

.s-m-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

/*--------------- <logo section> ---------------*/

/*------- <date time container> -------*/
.s-m-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-basis: 8%;
  justify-content: space-around;
  align-items: center;
}
/*------- <date time section> -------*/

.s-m-left-logo {
  display: flex;
  flex-basis: 33%;
  height: 100%;
  /* background-color: red; */
}

.s-m-middle-logo {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
}

.pray-name {
  color: #e2a917;
  font-size: 16px;
  font-size: 3vw;
}

.s-m-right-logo {
  display: flex;
  height: 100%;
  flex-basis: 33%;
}

/*--------------- </logo section> ---------------*/

/*--------------- <date time section> ---------------*/

/*------- <date time container> -------*/
.s-m-date-time {
  display: flex;
  flex-basis: 6%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: "Assistant";
  background: #b58d00;
}
/*------- <date time section> -------*/

.s-m-left-datime {
  display: flex;
  flex-basis: 33%;
  height: 100%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-size: 2vw;
  font-family: "Assistant";
  color: white;
}

.s-m-middle-datime {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-basis: 33%;
  font-size: 16px;
  font-size: 2vw;
  font-family: "Assistant";
  color: white;
}

.s-m-right-datime {
  display: flex;
  height: 100%;
  flex-basis: 33%;
  align-items: center;
  justify-content: center;
  font-family: "Assistant";
  font-weight: bold;
  font-size: 16px;
  font-size: 2vw;
  color: white;
}

/*--------------- </date time section> ---------------*/

.s-m-times {
  display: flex;
  flex-direction: column;
  flex-basis: 86%;
  width: 100%;
}

.evening-shabbat-times {
  display: flex;
  flex-basis: 35%;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;
  justify-content: center;
}

.evening-shabbat-times-center {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.evening-title-container {
  display: flex;
  flex-basis: 20%;
  width: 100%;
  align-items: center;
}

.evening-title-container text {
  font-family: "Assistant";
  font-weight: bold;
  font-size: 16px;
  font-size: 2vw;
  text-decoration: underline;
  color: white;
}

.evening-times-container {
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  width: 100%;
}

.f-evening-edit-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.s-evening-edit-section {
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  height: 100%;
}

.clip-art-container {
  display: flex;
  flex-basis: 20%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.clip-art-design {
  display: flex;
  height: 85%;
  align-self: center;
  width: 35%;
  background-image: url("../img/clip-art.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.day-shabbat-times {
  display: flex;
  flex-basis: 37.5%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.f-evening-edit-section #evening-times-edition,
#day-times-edition {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.input-times {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

tbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

tr {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

td {
}

tr h5 {
  color: white;
  font-size: 1.2vw;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 3vmin;
  text-shadow: 2px 2px #000000;
  color: white;
}

input[type="text"] {
  width: 2vw;
  height: 3vh;
  font-family: "Assistant";
  font-weight: bold;
  font-size: 16px;
  font-size: 1.5vw;
  background: none;
  border-radius: 15;
  color: white;
  border: none;
  text-align: center;
}

input[type="submit"] {
  width: 50%;
  height: 50%;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.submit-new-times {
  display: flex;
  flex-basis: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
