.assistant-s-1 {
  font-family: "Assistant";
  font-weight: bolder;
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 1vw;
  color: black;
}

.assistant-s-1-5 {
  font-family: "Assistant";
  font-weight: bolder;
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 1.5vw;
  color: black;
}

.assistant-s-2 {
  font-family: "Assistant";
  font-weight: bolder;
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 2vw;
  color: black;
}

.assistant-s-2-5 {
  font-family: "Assistant";
  font-weight: bolder;
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 2.5vw;
  color: black;
}

.assistant-s-3 {
  font-family: "Assistant";
  font-weight: bolder;
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 3vw;
  color: black;
}

.assistant-s-6 {
  font-family: "Assistant";
  font-weight: bolder;
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 6vw;
  color: black;
}

.regular-s-2 {
  font-weight: bolder;
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 2vw;
  color: black;
}

.regular-s-4 {
  font-weight: bolder;
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 4vw;
  color: black;
}

.bolder {
  font-weight: bolder;
}

.assistant-vmin-4 {
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 4vmin;
  color: black;
}

.assistant-vmin-6 {
  font-size: 16px; /* for fallback instead of 2vw*/
  font-size: 6.5vmin;
  color: black;
}
