/*------- <date time container> -------*/
.s-m-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 8;
  justify-content: space-around;
  align-items: center;
}
/*------- <date time section> -------*/

.s-m-left-logo {
  display: flex;
  flex-basis: 33%;
  height: 100%;
  align-items: center;
}

.btn-back-home {
  height: 60%;
  visibility: visible;
}

.s-m-middle-logo {
  display: flex;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
}

.pray-name {
  color: #e2a917;
  font-size: 16px;
  font-size: 3vw;
}

.s-m-right-logo {
  display: flex;
  height: 100%;
  flex-basis: 33%;
}

/*--------------- </logo section> ---------------*/

/*--------------- <date time section> ---------------*/

/*------- <date time container> -------*/
.s-m-date-time {
  display: flex;
  flex: 6;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: "Assistant";
  background: #b58d00;
}
/*------- <date time section> -------*/

.s-m-left-datime {
  display: flex;
  flex-basis: 33%;
  height: 100%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-size: 2vw;
  font-family: "Assistant";
  color: white;
}

.s-m-middle-datime {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-basis: 33%;
  font-size: 16px;
  font-size: 2vw;
  font-family: "Assistant";
  color: white;
}

.s-m-right-datime {
  display: flex;
  height: 100%;
  flex-basis: 33%;
  align-items: center;
  justify-content: center;
  font-family: "Assistant";
  font-weight: bold;
  font-size: 16px;
  font-size: 2vw;
  color: white;
}

/*--------------- </date time section> ---------------*/
