/*--------------- <page-conf> ---------------*/
body {
  margin: 0;
  padding: 0;
  background-color: #2d1703;
}
.s-m-container,
body,
html {
  height: 100%;
}

.flex {
  display: flex;
}

/*--------------- </page-conf> ---------------*/

.s-m-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.header-page-bar {
  display: flex;
  flex: 2;
  flex-direction: row;
  width: 100%;
}

.s-m-dashboard {
  display: flex;
  flex: 20;
  flex-direction: column;
  width: 100%;
}

.s-m-info-section {
  display: flex;
  flex: 12;
  flex-direction: row;
  width: 100%;
}

.s-m-info-section .s-m-side-column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.s-m-info-section .s-m-side-column-inner-container {
  display: flex;
  flex-direction: column;
  height: 96%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.s-m-info-section .s-m-top-side-column {
  display: flex;
  flex: 2;
  width: 100%;
  margin-bottom: 0.6vw;
}

.s-m-info-section .s-m-top-side-column-image {
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.6vw;
  align-items: center;
  justify-content: center;
  background-image: url("../img/top-side-section.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.s-m-info-section .s-m-top-side-column-title {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.s-m-info-section .s-m-top-side-column-data {
  display: flex;
  flex: 7;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.s-m-info-section .s-m-top-column-actual-data {
  display: flex;
  flex: 1;
  height: 85%;
  width: 100%;
}

.s-m-top-side-column-data #memorial-names-data,
#joys-news-data,
#announcments,
#lessons {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  height: 90%;
}

.s-m-info-section .s-m-bottom-side-column {
  display: flex;
  flex-direction: column;
  margin-top: 0.6vw;
  flex: 1;
  width: 100%;
  background-image: url("../img/bottom-side-section.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.s-m-info-section .s-m-middle-column-container {
  display: flex;
  flex-direction: column;
  flex: 4;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.s-m-middle-column-container .s-m-bottom-column-inner-container {
  display: flex;
  flex-direction: column;
  height: 96%;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.s-m-middle-column-container .s-m-middle-top-column {
  display: flex;
  flex: 2;
  width: 100%;
  margin-bottom: 0.6vw;
}

.s-m-middle-column-container .s-m-middle-top-image {
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.6vw;
  align-items: center;
  justify-content: center;
  background-image: url("../img/top-side-section.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.s-m-middle-column-container .s-m-middle-bottom-column {
  display: flex;
  margin-top: 0.6vw;
  flex: 1;
  width: 100%;
}

.s-m-middle-column-container .s-m-middle-bottom-image {
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.6vw;
  align-items: center;
  justify-content: center;
}

.s-m-info-section.s-m-info-section .s-m-middle-column-image {
  display: flex;
  flex-direction: column;
  height: 96%;
  width: 97%;
  align-items: center;
  justify-content: center;
  background-image: url("../img/main-section.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.s-m-info-section .s-m-middle-column-data-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 95%;
  align-items: center;
  justify-content: center;
}

.s-m-info-section .s-m-middle-column-title {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.s-m-middle-column-data {
  display: flex;
  flex: 12;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.s-m-middle-column-actual-data {
  display: flex;
  height: 80%;
  width: 95%;
  align-items: center;
  justify-content: center;
}

#zmanim-table-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.s-m-bottom-bar-container {
  display: flex;
  flex-direction: row;
  flex: 0.8;
  height: 100%;
  width: 100%;
  background-color: #b58d00;
  align-items: center;
  justify-content: center;
}

.s-m-bottom-bar {
  display: flex;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.s-m-bottom-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.memorial-names {
  display: flex;
  justify-content: center;
  align-items: center;
}

#memorial-names text {
  word-wrap: normal;
  text-align: center;
  text-decoration: dashed;
}

.clock-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* .s-m-right-times-con #zmanim-table-data,
#shabbat-times-table-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.memorize-candle-right {
  display: flex;
  left: 0;
  height: 100%;
  flex-basis: 20%;
  border-top-left-radius: 0.45vw;
  background-image: url("../img/candle-light3.gif");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 80% 100%;
} */
