<div class="s-m-bottom-side-column">
    <text style="align-self: center;" class="regular-s-2">הודעות</text>
    <div class="marquee">
        <div class="track">
            <div id="announcments"></div>
        </div>
    </div>
</div>