<div class="s-m-bottom-bar-container">
    <div class="s-m-bottom-bar">
        <div class="s-m-bottom-text">
            <text class="memorial-names assistant-em-s-2">אימי מורתי שבע בת יוסף</text>
        </div>
        <div class="s-m-bottom-text">
            <text class="memorial-names assistant-em-s-2-5">נתרם לעילוי נשמת</text>
        </div>
        <div class="s-m-bottom-text">
            <text class="memorial-names assistant-em-s-2">אבי מורי הרב ישראל בן דב אינדיג</text>
        </div>
    </div>
</div>