<div class="s-m-bottom-side-column">
    <text style="align-self: center;" class="regular-s-2">מזל טוב</text>
    <div class="marquee">
        <div class="track">
            <div id="joys-news-data">
                <% for (var joy of joys) { %>
                <% for (var joy of joys) { %>
                <text class="assistant-s-2-5"><%= joy.name %></text><br />
                <text class="assistant-s-2-5">*</text><br />
                <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>