<div class="s-m-middle-bottom-column">
    <div class="s-m-middle-side">
        <div class="clip-art-container align-start">
            <div class="clip-art-image">
                <h3 class="assistant-s-2">
                    ותן ברכה
                </h3>
            </div>
        </div>
        <div class="clip-art-container align-end">
            <div class="clip-art-image ">
                <h3 class="assistant-s-2">
                    מוריד הטל
                </h3>
            </div>
        </div>
    </div>
    <div class="s-m-middle-center">
        <div class="clock-container">
            <div class="clock">
                <%- include('../components/clock.ejs') %>
            </div>
        </div>
    </div>
    <div class="s-m-middle-side">
        <div class="clip-art-container align-end">
            <div class="clip-art-image">
                <h3 class="assistant-s-2">
                </h3>
            </div>
        </div>
        <div class="clip-art-container align-start">
            <div class="clip-art-image">
                <h3 class="assistant-s-2">
                </h3>
            </div>
        </div>
    </div>
</div>