<div class="s-m-middle-top-column">
    <div class="s-m-middle-top-image">
        <div class="s-m-middle-column-title">
            <text id="s-m-middle-title" class="regular-s-4">זמני היום</text>
        </div>
        <div class="s-m-middle-column-data">
            <div class="s-m-middle-column-actual-data">
                <div class="marquee">
                    <div class="track">
                        <table id="zmanim-table-data"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>